@import './utils/color.less';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 300px;
}

ul {
    list-style: none;
}

#container {
    
}

.tab-list {
    background-color: @bg-col;
    color: @text-col;
    padding: 1em;
}

.tab-item {
    line-height: 1.4em;
    font-size: 1.3em;
    padding: 0.2em;

    .tab-favicon {
        width: 1.5em;
        height: 1.5em;
        border: 0.2em solid @text-col;
        border-radius: 50%;
        margin-right: 0.5em;
        display: inline-block;
        overflow: hidden;
        text-align: center;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        cursor: pointer;
        color: @second-text-col;
        border: 0.2em solid @text-col;
        background-color: @second-bg-col;
        border-radius: 0.4em;
        font-weight: bold;

        .tab-favicon {
            border: 0.2em solid @second-text-col;
        }
    }
}